@using HAGWebSite.Common;
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <!-- step bar panel -->
    <div class="row">
        <div class="col-lg-4 profile-left">
            <div class="avater">
                <div class="div-image-author">
                    <img class="image-author img-thumbnail" src="~/Content/Image/chris.png" />
                </div>
                <div class="author-name">
                    <h3>Chris Kuo</h3>
                    <h3><span class="label label-warning">幼幼超人</span> </h3>
                    <h3><span class="label label-warning">結依超人</span> </h3>
                </div>
            </div>

            <div class="div-detail-author">
                <div class="col-md-4">
                    <h3><span class="label label-super">Egg</span></h3>
                </div>
                <div class="col-md-8">
                    <h3>12</h3>
                </div>
                <div class="col-md-4">
                    <h3><span class="label label-super">Contact</span></h3>
                </div>
                <div class="col-md-8">
                    <h3>0958-995990</h3>
                </div>
                <div class="col-md-4">
                    <h3><span class="label label-super">Evaluation</span></h3>
                </div>
                <div class="col-md-8">
                    <h4>
                        <span class="fa-stack">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-thumbs-o-up fa-stack-1x fa-inverse"></i>
                        </span>
                        <span class="label label-danger">2400</span>
                        <span class="fa-stack">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-thumbs-o-down fa-stack-1x fa-inverse"></i>
                        </span>
                        <span class="label label-default">2400</span>
                    </h4>
                </div>
            </div>

        </div>
        <div class="col-lg-8 profile-right">
            <div class="panel panel-super">
                <div class="panel-heading">
                    <h3>Message</h3>
                </div>
                <div class="panel-body">
                    <ul>
                        <li>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="panel panel-super">
                <div class="panel-heading">
                    <h3>Help me</h3>
                </div>
                <div class="panel-body">
                    <div id="Carousel-mission-po" class="carousel slide">
                        <!-- Carousel items -->
                        <div class="carousel-inner">

                            <div class="item active">
                                <div class="row">
                                    <div class="col-md-3">
                                        <a href="#" class="thumbnail"><img class="image-profile-icon" src="~/Content/Image/tag-house.png" alt="Image" style="max-width:100%;"></a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="#" class="thumbnail"><img class="image-profile-icon" src="~/Content/Image/tag-maintain.png" alt="Image" style="max-width:100%;"></a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="#" class="thumbnail"><img class="image-profile-icon" src="~/Content/Image/tag-service.png" alt="Image" style="max-width:100%;"></a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="#" class="thumbnail"><img class="image-profile-icon" src="~/Content/Image/tag-house.png" alt="Image" style="max-width:100%;"></a>
                                    </div>
                                </div>
                                <!--.row-->
                            </div>
                            <!--.item-->

                            <div class="item">
                                <div class="row">
                                    <div class="col-md-3">
                                        <a href="#" class="thumbnail"><img class="image-profile-icon" src="~/Content/Image/tag-maintain.png" alt="Image" style="max-width:100%;"></a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="#" class="thumbnail"><img class="image-profile-icon" src="~/Content/Image/tag-house.png" alt="Image" style="max-width:100%;"></a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="#" class="thumbnail"><img class="image-profile-icon" src="~/Content/Image/tag-maintain.png" alt="Image" style="max-width:100%;"></a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="#" class="thumbnail"><img class="image-profile-icon" src="~/Content/Image/tag-together.png" alt="Image" style="max-width:100%;"></a>
                                    </div>
                                </div>
                                <!--.row-->
                            </div>
                            <!--.item-->

                            <div class="item">
                                <div class="row">
                                    <div class="col-md-3">
                                        <a href="#" class="thumbnail"><img class="image-profile-icon" src="~/Content/Image/tag-transport.png" alt="Image" style="max-width:100%;"></a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="#" class="thumbnail"><img class="image-profile-icon" src="~/Content/Image/tag-house.png" alt="Image" style="max-width:100%;"></a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="#" class="thumbnail"><img class="image-profile-icon" src="~/Content/Image/tag-maintain.png" alt="Image" style="max-width:100%;"></a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="#" class="thumbnail"><img class="image-profile-icon" src="~/Content/Image/tag-house.png" alt="Image" style="max-width:100%;"></a>
                                    </div>
                                </div>
                                <!--.row-->
                            </div>
                            <!--.item-->

                        </div>
                        <!--.carousel-inner-->
                        <a data-slide="prev" href="#Carousel-mission-po" class="left carousel-control">‹</a>
                        <a data-slide="next" href="#Carousel-mission-po" class="right carousel-control">›</a>
                    </div>
                    <!--.Carousel-->
                </div>
            </div>
            <div class="panel panel-super">
                <div class="panel-heading">
                    <h3>Give a hand</h3>
                </div>
                <div class="panel-body">
                    <div id="Carousel-mission-help" class="carousel slide">
                        <!-- Carousel items -->
                        <div class="carousel-inner">

                            <div class="item active">
                                <div class="row">
                                    <div class="col-md-3">
                                        <a href="#" class="thumbnail"><img class="image-profile-icon" src="~/Content/Image/tag-maintain.png" alt="Image" style="max-width:100%;"></a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="#" class="thumbnail"><img class="image-profile-icon" src="~/Content/Image/tag-maintain.png" alt="Image" style="max-width:100%;"></a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="#" class="thumbnail"><img class="image-profile-icon" src="~/Content/Image/tag-transport.png" alt="Image" style="max-width:100%;"></a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="#" class="thumbnail"><img class="image-profile-icon" src="~/Content/Image/tag-house.png" alt="Image" style="max-width:100%;"></a>
                                    </div>
                                </div>
                                <!--.row-->
                            </div>
                            <!--.item-->

                            <div class="item">
                                <div class="row">
                                    <div class="col-md-3">
                                        <a href="#" class="thumbnail"><img class="image-profile-icon" src="~/Content/Image/tag-house.png" alt="Image" style="max-width:100%;"></a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="#" class="thumbnail"><img class="image-profile-icon" src="~/Content/Image/tag-service.png" alt="Image" style="max-width:100%;"></a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="#" class="thumbnail"><img class="image-profile-icon" src="~/Content/Image/tag-service.png" alt="Image" style="max-width:100%;"></a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="#" class="thumbnail"><img class="image-profile-icon" src="~/Content/Image/tag-together.png" alt="Image" style="max-width:100%;"></a>
                                    </div>
                                </div>
                                <!--.row-->
                            </div>
                            <!--.item-->

                            <div class="item">
                                <div class="row">
                                    <div class="col-md-3">
                                        <a href="#" class="thumbnail"><img class="image-profile-icon" src="~/Content/Image/tag-together.png" alt="Image" style="max-width:100%;"></a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="#" class="thumbnail"><img class="image-profile-icon" src="~/Content/Image/tag-transport.png" alt="Image" style="max-width:100%;"></a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="#" class="thumbnail"><img class="image-profile-icon" src="~/Content/Image/tag-maintain.png" alt="Image" style="max-width:100%;"></a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="#" class="thumbnail"><img class="image-profile-icon" src="~/Content/Image/tag-maintain.png" alt="Image" style="max-width:100%;"></a>
                                    </div>
                                </div>
                                <!--.row-->
                            </div>
                            <!--.item-->

                        </div>
                        <!--.carousel-inner-->
                        <a data-slide="prev" href="#Carousel-mission-help" class="left carousel-control">‹</a>
                        <a data-slide="next" href="#Carousel-mission-help" class="right carousel-control">›</a>
                    </div>
                    <!--.Carousel-->
                </div>
            </div>
            <div class="panel panel-super">
                <div class="panel-heading">
                    <h3>Medals</h3>
                </div>
                <div class="panel-body">
                    <div id="Carousel-award" class="carousel slide">
                        <!-- Carousel items -->
                        <div class="carousel-inner">

                            <div class="item active">
                                <div class="row">
                                    <div class="col-md-3">
                                        <a href="#" class="thumbnail"><img class="image-profile-icon" src="~/Content/Image/medal-house.png" alt="Image" style="max-width:100%;"></a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="#" class="thumbnail"><img class="image-profile-icon" src="~/Content/Image/medal-maintain.png" alt="Image" style="max-width:100%;"></a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="#" class="thumbnail"><img class="image-profile-icon" src="~/Content/Image/medal-together.png" alt="Image" style="max-width:100%;"></a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="#" class="thumbnail"><img class="image-profile-icon" src="~/Content/Image/medal-transport.png" alt="Image" style="max-width:100%;"></a>
                                    </div>
                                </div>
                                <!--.row-->
                            </div>
                            <!--.item-->

                            <div class="item">
                                <div class="row">
                                    <div class="col-md-3">
                                        <a href="#" class="thumbnail"><img class="image-profile-icon" src="~/Content/Image/medal-house2.png" alt="Image" style="max-width:100%;"></a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="#" class="thumbnail"><img class="image-profile-icon" src="~/Content/Image/medal-maintain2.png" alt="Image" style="max-width:100%;"></a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="#" class="thumbnail"><img class="image-profile-icon" src="~/Content/Image/medal-together2.png" alt="Image" style="max-width:100%;"></a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="#" class="thumbnail"><img class="image-profile-icon" src="~/Content/Image/medal-transport2.png" alt="Image" style="max-width:100%;"></a>
                                    </div>
                                </div>
                                <!--.row-->
                            </div>
                            <!--.item-->

                            <div class="item">
                                <div class="row">
                                    <div class="col-md-3">
                                        <a href="#" class="thumbnail"><img class="image-profile-icon" src="~/Content/Image/medal-house.png" alt="Image" style="max-width:100%;"></a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="#" class="thumbnail"><img class="image-profile-icon" src="~/Content/Image/medal-maintain.png" alt="Image" style="max-width:100%;"></a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="#" class="thumbnail"><img class="image-profile-icon" src="~/Content/Image/medal-together.png" alt="Image" style="max-width:100%;"></a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="#" class="thumbnail"><img class="image-profile-icon" src="~/Content/Image/medal-transport.png" alt="Image" style="max-width:100%;"></a>
                                    </div>
                                </div>
                                <!--.row-->
                            </div>
                            <!--.item-->

                        </div>
                        <!--.carousel-inner-->
                        <a data-slide="prev" href="#Carousel-award" class="left carousel-control">‹</a>
                        <a data-slide="next" href="#Carousel-award" class="right carousel-control">›</a>
                    </div>
                    <!--.Carousel-->
                </div>
            </div>
            <div class="panel panel-super">
                <div class="panel-heading">
                    <h3>Store</h3>
                </div>
                <div class="panel-body">
                    <div id="Carousel-props" class="carousel slide">
                        <!-- Carousel items -->
                        <div class="carousel-inner">

                            <div class="item active">
                                <div class="row">
                                    <div class="col-md-3">
                                        <a href="#" class="thumbnail"><img class="image-profile-icon" src="~/Content/Image/tag-maintain.png" alt="Image" style="max-width:100%;"></a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="#" class="thumbnail"><img class="image-profile-icon" src="~/Content/Image/tag-maintain.png" alt="Image" style="max-width:100%;"></a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="#" class="thumbnail"><img class="image-profile-icon" src="~/Content/Image/tag-maintain.png" alt="Image" style="max-width:100%;"></a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="#" class="thumbnail"><img class="image-profile-icon" src="~/Content/Image/tag-maintain.png" alt="Image" style="max-width:100%;"></a>
                                    </div>
                                </div>
                                <!--.row-->
                            </div>
                            <!--.item-->

                            <div class="item">
                                <div class="row">
                                    <div class="col-md-3">
                                        <a href="#" class="thumbnail"><img class="image-profile-icon" src="~/Content/Image/tag-maintain.png" alt="Image" style="max-width:100%;"></a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="#" class="thumbnail"><img class="image-profile-icon" src="~/Content/Image/tag-maintain.png" alt="Image" style="max-width:100%;"></a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="#" class="thumbnail"><img class="image-profile-icon" src="~/Content/Image/tag-maintain.png" alt="Image" style="max-width:100%;"></a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="#" class="thumbnail"><img class="image-profile-icon" src="~/Content/Image/tag-maintain.png" alt="Image" style="max-width:100%;"></a>
                                    </div>
                                </div>
                                <!--.row-->
                            </div>
                            <!--.item-->

                            <div class="item">
                                <div class="row">
                                    <div class="col-md-3">
                                        <a href="#" class="thumbnail"><img class="image-profile-icon" src="~/Content/Image/tag-maintain.png" alt="Image" style="max-width:100%;"></a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="#" class="thumbnail"><img class="image-profile-icon" src="~/Content/Image/tag-maintain.png" alt="Image" style="max-width:100%;"></a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="#" class="thumbnail"><img class="image-profile-icon" src="~/Content/Image/tag-maintain.png" alt="Image" style="max-width:100%;"></a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="#" class="thumbnail"><img class="image-profile-icon" src="~/Content/Image/tag-maintain.png" alt="Image" style="max-width:100%;"></a>
                                    </div>
                                </div>
                                <!--.row-->
                            </div>
                            <!--.item-->

                        </div>
                        <!--.carousel-inner-->
                        <a data-slide="prev" href="#Carousel-props" class="left carousel-control">‹</a>
                        <a data-slide="next" href="#Carousel-props" class="right carousel-control">›</a>
                    </div>
                    <!--.Carousel-->
                </div>
            </div>

        </div>

    </div>
</div>

<script src="@Html.ScriptUrl("customer2.js")"></script>